[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
